<app-navbar></app-navbar>
<div class="wrap-card">
  <article *ngFor="let item of pokeList">
    <app-card [item]="item"></app-card>
  </article>
</div>
<div class="pagination-buttons">
  <button
    (click)="prevPage()"
    [disabled]="isDisabledPrev()"
    mat-mini-fab
    color="primary"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button
    (click)="nextPage()"
    [disabled]="this.isDisabledNext()"
    mat-mini-fab
    color="primary"
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
