<mat-card>
  <mat-card-header>
    <div
      mat-card-avatar
      class="image-header-card"
      [ngStyle]="{ 'background-image': ' url(' + urlImgSmall + ')' }"
    ></div>
    <mat-card-title>{{ item.name }}</mat-card-title>
    <mat-card-subtitle>{{ typePoke }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="urlImgLarge" [alt]="item.name" />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinnct spitz
      breed of the dog Japan
    </p>
  </mat-card-content>
</mat-card>
